 @import "tailwindcss"; 

 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* ================= Swiper Navigation Arrows ================= */
.swiper-button-next,
.swiper-button-prev {
  color: #8a8a8a !important; /* soft gray */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #5f5f5f !important; /* darker gray on hover */
}

/* ================= Swiper Pagination Dots ================= */
.swiper-pagination-bullet {
  background: #b0b0b0 !important; /* inactive dot gray */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #5f5f5f !important; /* active dot darker gray */
}
@keyframes clientsMarquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* Top bar links */
.top-link {
  font-family: "Cinzel", serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/* Main nav links */
.nav-link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #111;
  text-decoration: none;
  line-height: 1;
}

.nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #111;
  text-decoration: none;
  line-height: 1;
}

/* ACTIVE STATE */
.nav-link-active {
  color: #000;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* Contact button */
.contact-btn {
  margin-left: auto;
  background-color: #2f2c2c;
  color: #fff;
  padding: 10px 15px 8px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.08em;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #fff;
  color: #000;
}
h1, h2 {
  letter-spacing: 0.03em;
}

p {
  line-height: 1.7;
}

section {
  scroll-margin-top: 120px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  animation: fadeUp 0.8s ease-out both;
}
body {
  font-family: var(--font-inter), sans-serif;
}

/* ================= TYPOGRAPHY ================= */

/* Body text */
body {
  font-family: var(--font-inter), sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}
